---
import location from '../assets/svg/location.svg';
import bussiness from '../assets/jpg/bussiness.jpg';
import { Image, Picture } from 'astro:assets';
---

<section class="bussiness" id="nuestro-local">
  <span class="bussiness__rectangle"></span>
  <div class="bussiness__contain">
    <span class="bussiness__contain-location">
      <h2 class="bussiness__location-title">¿DONDE NOS ENCONTRÁS?</h2>
      <span class="bussiness__contain-iframe">
        <iframe
          title="Ubicación de INGELEC S.R.L."
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3428.31247872334!2d-57.994152923552065!3d-30.76580816510484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95ad0d3b6aeb5cbb%3A0xe7e0d677f0f0886!2sINGELEC%20S.R.L.!5e0!3m2!1ses-419!2sar!4v1725288358133!5m2!1ses-419!2sar"
          width="500"
          height="350"
          class="bussiness__iframe"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </span>
      <span class="bussiness__location">
        <Image
          src={location}
          class={'bussiness__location-icon'}
          alt="location"
        />

        <p class="bussiness__location-text">
          Av. Alem 1355 (E3228) - Chajarí, Entre Ríos, Argentina
        </p>
      </span>
    </span>
    <span class="bussiness__background"></span>
    <Image
      class="bussiness__img"
      src={bussiness}
      alt="Nuestro local"
      loading="lazy"
      quality={100}
    />
  </div>
</section>
<style>
  .bussiness {
    position: relative;
    overflow: hidden;
  }

  .bussiness__rectangle {
    display: none;
    position: absolute;
    width: 65%;
    height: 150%;
    rotate: 100deg;
    border-top: var(--orange-with-opacity) 0.5rem solid;
    background-color: var(--blue);
    z-index: 3;
  }

  .bussiness__contain {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 40% 60%;
    height: 100%;
    background-color: var(--blue);
    grid-template-columns: 1fr;
  }

  .bussiness__contain-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }

  .bussiness__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
  .bussiness__contain-location {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
    z-index: 4;
  }

  .bussiness__location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .bussiness__location-title {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-shadow: var(--text-shadow);
  }

  .bussiness__location-icon {
    width: 4rem;
    height: 4rem;
  }

  .bussiness__location-text {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500;
  }

  .bussiness__background {
    background-image: url('../assets/jpg/bussiness.jpg');
    background-size: cover;
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
    height: 100%;
    z-index: 1;
    display: none;
  }

  .bussiness__img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
  }

  /* sm: Para dispositivos con un ancho mínimo de 640px (teléfonos grandes y pequeños en horizontal) */
  @media (width >= 640px) {
    .bussiness__contain {
      grid-template-columns: 1fr;
    }

    .bussiness__location-title {
      font-size: 1.5rem;
    }
  }

  /* md: Para dispositivos con un ancho mínimo de 768px (tablets en modo vertical y laptops pequeñas) */
  @media (width >= 768px) {
    .bussiness__contain {
      grid-template-columns: 1fr;
    }
    .bussiness__location-title {
      font-size: 1.5rem;
    }
  }

  /* lg: Para dispositivos con un ancho mínimo de 1024px (tablets en modo horizontal y laptops estándar) */
  @media (width >= 1024px) {
    .bussiness__rectangle {
      display: block;
      left: -15%;
      bottom: -12.5%;
    }
    .bussiness__background {
      display: block;
    }
    .bussiness__img {
      display: none;
    }
    .bussiness__location-title {
      font-size: 2rem;
    }
    .bussiness__contain {
      grid-template-columns: 40% 60%;
    }
  }

  /* xl: Para dispositivos con un ancho mínimo de 1280px (laptops grandes y monitores de escritorio) */
  @media (width >= 1280px) {
    .bussiness__rectangle {
      display: block;
      left: -15%;
      bottom: -20%;
    }
    .bussiness__background {
      display: block;
    }
    .bussiness__img {
      display: none;
    }
    .bussiness__location-title {
      font-size: 2rem;
    }
    .bussiness__contain {
      grid-template-columns: 40% 60%;
    }
  }

  /* 2xl: Para dispositivos con un ancho mínimo de 1536px (pantallas ultra grandes y monitores 4K) */
  @media (width >= 1536px) {
    .bussiness__rectangle {
      display: block;
      left: -10%;
      bottom: -12.5%;
    }
    .bussiness__background {
      display: block;
    }
    .bussiness__img {
      display: none;
    }
    .bussiness__location-title {
      font-size: 2.5rem;
    }
    .bussiness__contain {
      grid-template-columns: 40% 60%;
    }
  }
</style>
